- cache(element) do
  = element_view_for(element) do |el|
    .col-md-4
      .company-name
        = el.render :company_name
      .name
        = el.render :name
      .street
        = el.render :street
      .place
        = el.render :place
      .phone
        = el.render :phone
      .email
        = el.render :email
