<%- cache(logo) do -%>
  <%= element_view_for(logo) do |el| -%>
    <div class="image">
      <%= el.render :image %>
    </div>
    <div class="logo_text">
      <%= el.render :logo_text %>
    </div>
  <%- end -%>
<%- end -%>
