<%- cache(static_page) do -%>
  <%= element_view_for(static_page) do |el| -%>
    <div class="title">
      <%= el.render :title %>
    </div>
    <div class="teaser">
      <%= el.render :teaser %>
    </div>
    <div class="body">
      <%= el.render :body %>
    </div>
  <%- end -%>
<%- end -%>
