<%- cache(static_page_header) do -%>
  <%= element_view_for(static_page_header) do |el| -%>
    <div class="image">
      <%= el.render :image %>
    </div>
    <div class="super_title">
      <%= el.render :super_title %>
    </div>
  <%- end -%>
<%- end -%>
