<%- cache(testimonial) do -%>
  <%= element_view_for(testimonial) do |el| -%>
    <div class="citee">
      <%= el.render :citee %>
    </div>
    <div class="quote">
      <%= el.render :quote %>
    </div>
  <%- end -%>
<%- end -%>
