// First import journal variables
@import "bootswatch/journal/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
// body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/journal/bootswatch";

// Whatever application styles you have go last
@import "base";
