.modal-dialog {
    z-index: 1500;
}

textarea {
  resize: vertical;
}

.form-horizontal .control-label {
  font-family: $font-family-sans-serif;
}

body { padding-top: 60px; }

h1 {
  text-align: center;
  margin: 60px 0 60px;
}

figure {
  position: relative;
  figcaption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    padding: 30px;
    text-align: center;
    font-family: $font-family-sans-serif;
    background: rgba(255,255,255,0.5);
  }
}
