.modal-dialog {
    z-index: 1500;
}

textarea {
  resize: vertical;
}

.form-horizontal .control-label {
  font-family: $font-family-sans-serif;
}

body { padding-top: 60px; }

.hero-unit {
  position: relative;
  h1, h2 {
    position: absolute;
    margin-left: 3em;
    left: 0px;
    bottom: 0px;
    margin-bottom: 1.5em;
    color: white;
    padding: 5px 25px 15px;
    background-color: rgba(0,0,0,0.3);
  }
}

p {
  font-size: 18.75px;
}

.container.content {
  padding: 2em 0;

}


figure {
  img {
    width: 100%;
  }
  figcaption {
    text-align: right;
    margin-right: 2em;
    font-size: 0.7em;
  }
}

.well {
  text-align: center;

  h3 {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
}