.logo_text {
  text-align: center;
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
  font-family: $font-family-serif;
  font-size: 40px;
  line-height: 45px;
  margin-top: 40px;
}

.logo, .nav_image {
  > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }

  @media (min-width: $screen-sm-min) {
    > img {
      float: right;
    }
  }
}

.title {
  @media (min-width: $screen-lg-min) {
    float: right;
  }
  > h3 {
    font-family: $font-family-serif;
    text-align: center;
    font-size: 24px;

    @media (min-width: $screen-lg-min) {
      width: 200px;
    }
  }
}


button.icon {
  background-color: darkgrey;
  color: white;
  display: block;
  border-radius: 50%;
  border: none;
  height: 3em;
  width: 3em;
  position: absolute;
  bottom: 10px;
  right: 0;
  > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.collapse.in + button {
  transform: rotate(180deg);
}

.navbar {
  background-color: white;
}

.testimonial-logo {
  width: 100%;
}


.section {
  margin-top: 65px;
}
.modal-dialog {
    z-index: 1500;
}

textarea {
  resize: vertical;
}

.form-horizontal .control-label {
  font-family: $font-family-sans-serif;
}

body { padding-top: 180px; }

p {
  font-family: $font-family-serif;
  font-size: 18.75px;
}

#fullpage {
  padding: 2em;
}


figure {
  img {
    width: 100%;
  }
  figcaption {
    text-align: right;
    margin-right: 2em;
    font-size: 0.7em;
  }
}

.well {
  text-align: center;

  h3 {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
}
