button#contact {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
}

.logo_text > p {
  text-align: center;
  @media (min-width: $screen-sm-min) {
    text-align: left;
    margin-top: 15px;
  }
  @media (min-width: $screen-md-min) {
    margin-top: 40px;
  }

  font-family: $font-family-serif;
  font-size: 40px;
  line-height: 45px;
  margin-top: 40px;
}

.logo, .nav_image {
  > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto 30px;
    border-radius: 50%;
  }

  @media (min-width: $screen-sm-min) {
    > img {
      float: right;
    }
  }
}

.title {
  @media (min-width: $screen-lg-min) {
    float: right;
  }
  > h3 {
    font-family: $font-family-serif;
    text-align: center;
    font-size: 24px;

    @media (min-width: $screen-lg-min) {
      width: 200px;
    }
  }
}


button.icon {
  background-color: darkgrey;
  color: white;
  display: block;
  border-radius: 50%;
  border: 4px solid white;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 0%;
  left: 47%;
  &:focus {
    outline: none;
  }
  > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &.fa-2x {
      font-size: 1.3em;
    }
  }
}

button[aria-expanded="true"] {
  transform: rotate(180deg);
}

.navbar {
  background-color: white;
}

.testimonial-logo {
  width: 100%;
}


.section {
  padding-top: 65px;
  padding-bottom: 50px;
}

.modal-dialog {
    z-index: 1500;
}

textarea {
  resize: vertical;
}

.form-horizontal .control-label {
  font-family: $font-family-sans-serif;
}

body {
  padding-top: 50px;
}

.body {
  margin-top: 30px;
}

.row.relative {
  position: relative;
}

.inside-image {
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 0px 1px 20px 1px rgba(0,0,0,0.75);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.76);
}

p {
  font-family: $font-family-serif;
  font-size: 18.75px;
}

#fullpage {
  padding: 2em;
}


figure {
  img {
    width: 100%;
  }
  figcaption {
    text-align: right;
    margin-right: 2em;
    font-size: 0.7em;
  }
}

.well {
  text-align: center;

  h3 {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
}

h2 {
  margin: 10px 0 20px;
}

h3 {
  margin-bottom: 30px;
}

h4, h5, h6 {
  font-weight: normal;
}

.expander {
  position: absolute;
  width: 100%;
  hr {
    border-top: 3px solid darkgrey;
  }
}
@media (max-width: $screen-xs-max) {
  h2, h4 {
    text-align: center;
  }
}

.contact_form {
  button.call-to-action {
    display: block;
    margin: 30px auto;
  }
}

.topics {
  text-align: center;
  h4 {
    font-size: 2em;
    margin-bottom:  25px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    font-family: Georgia;
    font-size: 1.3em;
    li {
      display: inline-block;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        width: 49%;
        vertical-align: top;
      }
    }
  }
}

.navbar-brand > img {
  display: block;
  max-height: 50px;
  @media (min-width: $screen-sm-min) {
    height: 45px;
    top: 3px;
  }
  position: absolute;
  top: 2px;
}
