.navbar.navbar-fixed-top.shadow role="navigation"
  .container
    .navbar-header
      button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
        i.fa.fa-bars
      a.navbar-brand href="/"
        = image_tag "ptw.svg"
    .navbar-collapse.collapse.navbar-responsive-collapse
      = render_navigation({from_page: @root_page}, {class: "nav  navbar-nav navbar-right"})

